.regContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: white;
    background-size: cover;
}

.backButton {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    align-items: center;
    color: #a47a47;
    cursor: pointer;
}

.regCard {
    background-color: lightgrey;
    width: 100%;
    max-width: 400px;
    padding: 32px;
    box-shadow: 0 4px 8px rgba(600, 900, 100, 150);
    border-radius: 8px;
}

.regTitle {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #a47a47;
    margin-bottom: 24px;
}

.formField {
    margin-bottom: 16px;
    color: black;
    display: block;
}

.formField input:focus {
    border-color: #a47a47 !important;
}


.errorText {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.submitButton {
    margin-top: 24px;
    background-color: #a47a47 !important;
    color: black !important;
}