.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.brandName {
    font-size: 1.5rem;
    font-weight: bold;
    color: #a47a47;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navLinks div {
    font-size: 1rem;
    font-weight: 500;
    color: #a47a47;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navLinks div:hover {
    color: #2d314d;
}

.getStarted {
    padding: 0.75rem 1.5rem;
    background-color: #a47a47;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.getStarted:hover {
    background-color: #b58b50;
    transform: scale(1.05);
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #a47a47;
}

.desktopOnly {
    display: block;
}

@media (max-width: 768px) {
    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 3.5rem;
        right: 1rem;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 200px;
        padding: 1rem;
        border-radius: 10px;
    }

    .navLinks.showMenu {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .desktopOnly {
        display: none;
    }
}

